{% extends "base.html" %}

{% block main_header %}
<meta name="description" content="Here is the list of all categories on {{meta.name}}" />
<meta name="author" content="{{meta.author}}" />
<link href="{{meta.URL}}/{{meta.folders.categories}}/" rel="canonical" />
<title>Categories on {{meta.name}}</title>
<meta content="Categories on {{meta.name}}" property="og:title" />
<meta content="Here is the list of all categories on {{meta.name}}" property="og:description" />
<meta content="{{meta.URL}}/{{meta.folders.categories}}/" property="og:url" />
{% endblock main_header %}


{% block main_content %}

<!-- category preview section-->
<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder mb-4">Categories</h2>
        <div class="row gx-5">
            {% for category in categories%}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{meta.URL}}/images/{{category.feature_image}}"
                        alt="Feautre Image for category">
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link"
                            href="{{meta.URL}}/{{meta.folders.categories}}/{{category.slug}}/">
                            <h5 class="card-title mb-3">{{category.title}}
                            </h5>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>
{% endblock main_content %}