{% extends "base.html" %}
{% import 'includes/macros.html' as macros %}

{% block main_header %}
<meta name="description" content="{{meta.description}}" />
<meta name="author" content="{{meta.author}}" />
<link href="{{meta.URL}}/" rel="canonical" />
<title>{{meta.title}}</title>
<meta content="{{meta.title}}" property="og:title" />
<meta content="{{meta.description}}" property="og:description" />
<meta content="{{meta.url}}" property="og:url" />
{% endblock main_header %}

{% block main_content %}
<!-- Header-->
<header class="bg-dark py-5" id="home">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">{{meta.title}}
                    </h1>
                    <p class="text-white-50 mb-4"> Our next meetup is in <em class="text-white mb-4">Wangen im
                            Allgäu</em> on
                        <em class="text-white mb-4"> {{meetups[0].event_datetime}}</em>.
                    </p>
                    <p class="text-white-50 mb-4">
                        Drop us an email at <em class="text-white mb-4">{{meta.email}}</em>
                        if you plan to join. This will help to better organize the event.
                    </p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3"
                            href="{{meta.URL}}/{{meta.folders.meetups}}/{{meetups[0].slug}}/">More Details</a>
                        <a class="btn btn-outline-light btn-lg px-4"
                            href="{{meta.URL}}/{{meta.folders.meetups}}/">Future Meetups</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5"
                    src="{{meta.URL}}/static/assets/banner.png" alt="{{meta.name}} about us banner" /></div>
        </div>
    </div>
</header>
<section class="py-5" id="about">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0"
                    src="{{meta.URL}}/static/assets/about.png" alt="{{meta.author}} image"></div>
            <div class="col-lg-6">
                <h2>About Us</h2>
                {% for about_us_paragraph in about_us_paragraphs%}
                <p>{{about_us_paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="py-5 bg-light" id="meetups">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-left">
            <div class="col-lg-12">
                <div class="text-left">
                    <h2 class="fw-bolder  mb-4">Meetups</h2>
                    <p class="mb-5">Here is the list of upcoming meetups organized by PyBodensee. </p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for meetup in meetups%}
                {{macros.meetup_card(meta, meetup)}}
            {% endfor%}
        </div>
        <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="{{meta.URL}}/{{meta.folders.meetups}}/">
                Older Meetups
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>

<section class="py-5 bg-white" id="posts">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-left">
            <div class="col-lg-12">
                <div class="text-left">
                    <h2 class="fw-bolder  mb-4">Blog Posts</h2>
                    <p class="mb-5">Here is the list of recently published posts by PyBodensee. </p>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            {% for post in posts%}
                {{macros.post_card(meta, post)}}
            {% endfor%}
        </div>
        <div class="text-end mb-5 mb-xl-0">
            <a class="text-decoration-none" href="{{meta.URL}}/{{meta.folders.posts}}/">
                Older Posts
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
</section>
{% endblock main_content %}