{% extends "base.html" %}

{% block main_header %}
<meta name="description" content="Here is the list of upcoming Meetups organized by {{meta.name}}" />
<meta name="author" content="{{meta.author}}" />
<link href="{{meta.URL}}/meetups/" rel="canonical" />
<title>Python Meetups in Bodensee Regions</title>
<meta content="upcoming Meetups organized by {{meta.name}}" property="og:title" />
<meta content="Here is the list of upcoming Meetups organized by {{meta.name}}" property="og:description" />
<meta content="{{meta.URL}}/meetups/" property="og:url" />
{% endblock main_header %}


{% block main_content %}
<!-- Page Content-->
<section class="py-5 bg-light">
    <div class="container px-5">
        <h1 class="fw-bolder mb-4">Next Meetup</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Meetup</div>
                            <div class="h2 fw-bolder"> {{meetups[0].title}}</div>
                            <p>{{meetups[0].description}}</p>
                            <a class="stretched-link text-decoration-none"
                                href="{{meta.URL}}/meetups/{{meetups[0].slug}}/">
                                Read more <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7">
                        <div class="bg-featured-blog"
                            style="background-image: url('{{meta.URL}}/images/{{meetups[0].featureimage}}')">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Meetup preview section-->
<section class="py-5">
    <div class="container px-5">
        <h2 class="fw-bolder mb-4">Recent Meetups</h2>
        <div class="row gx-5">
            {% for meetup in meetups[1:]%}
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="{{meta.URL}}/images/{{meetup.featureimage}}"
                        alt="Feautre Image for Meetup">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2">Meetup</div>
                        <a class="text-decoration-none link-dark stretched-link"
                            href="{{meta.URL}}/meetups/{{meetup.slug}}/">
                            <h5 class="card-title mb-3">{{meetup.title}}
                            </h5>
                        </a>
                        <p class="card-text mb-0">Agenda: {{meetup.description}}</p>
                    </div>
                    <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                        <div class="d-flex align-items-end justify-content-between">
                            <div class="d-flex align-items-center">
                                <div class="small">
                                    <div class="fw-bold">Date: {{meetup.date}} · Status:
                                        <em>{{meetup.status}}</em>
                                    </div>
                                    <div class="text-muted">Location: {{meetup.address}}
                                    </div>
                                    <div class="text-muted">Organizer: {{meetup.author}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>
{% endblock main_content %}